@using Kernel.Models
@model List<Employee>

@{
    ViewBag.Title = "Главная";
}

@if (@Session["EmployeeId"] == null)
{
    <div class="alert alert-primary" role="alert">Выберите сотрудника</div>

    <form action="/Home/SetEmployee" method="post">
        <select name="employee">
            @foreach (var @emp in @Model)
            {
                <option value="@emp.Id">@emp.FirstName @emp.SecondName</option>
            }
        </select>
        <input type="submit" value="Выбрать" />
    </form>
}
else
{
    <div class="alert alert-light" role="alert">Текущий сотрудник @Session["EmployeeName"]</div>
    <div class="alert alert-primary" role="alert">Выберите действие</div>

    @Html.ActionLink("Добавить пользователя", "Index", "User", null, new { @class = "btn btn-secondary", role = "button" })
    @Html.ActionLink("Добавить сотрудника", "Index", "Employee", null, new { @class = "btn btn-secondary", role = "button" })
    @Html.ActionLink("Смотреть журнал задач", "Index", "Task", null, new { @class = "btn btn-secondary", role = "button" })
}

