@using Kernel.Models
@using Web.Models
@model List<RequestFilterForm>

@{
    ViewBag.Title = "Журнал задач";
}

@Html.Partial("partialTaskFilter")

<!--- Сюда будем выводить таблицу из фильтра -->
@if (@Model.Count > 0 && @Model != null)
{
    <table class="table-task-result">
        <thead>
            <tr>
                <td>Услуга</td>
                <td>Состояние</td>
                <td>Дней ост.</td>
                <td>Клиент</td>
                <td>Тип</td>
                <td>Номер телефона</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in @Model)
            {
                <tr>
                    <td>
                        <div class="service-type">
                            @if (m.ServicesType == ServiceType.Domain) {@m.ServicesType}
                            @if (m.ServicesType == ServiceType.Host) {@m.ServicesType}
                        </div>
                        <div class="service-name">
                            <a href="#" data-ajax-link="/User/GetUser/@m.UserId/@m.ServiceId" return false;>@m.ServicesName</a>
                        </div>
                    </td>
                    <td>
                         @if(m.Ok)
                         {   <div class="lable-status-info">Будет приостановлен</div>
                             <div class="lable-status lable-status-yellow"></div>
                             <div class="lable-status-date">@m.ExDate.Value.ToString("d")</div>
                         }
                         @if(m.PendingDelete)
                         {   <div class="lable-status-info">Будет удален</div>
                             <div class="lable-status lable-status-red"></div>
                             <div class="lable-status-date">@m.PendingExDate.Value.ToString("d")</div>
                         }
                    </td>
                    <td>
                        @Math.Floor(@m.PendingExDate.Value.Subtract(DateTime.Now).TotalDays).ToString()
                    </td>
                    <td>
                        @if (@m.UserLegalName != null) { <div class="client-info">@m.UserLegalName</div> }
                        @if (@m.UserPhysicName != null){ <div class="client-info">@m.UserPhysicName</div> }
                        @if (@m.UserIndividualName != null) { <div class="client-info">@m.UserIndividualName</div> }
                    </td>
                    <td>
                        @if (m.UserType == ContractType.Legal) { <p class="user-type-info" >Юр.</p> }
                        @if (m.UserType == ContractType.Physical) { <p class="user-type-info" >Физ.</p> }
                        @if (m.UserType == ContractType.Individual) { <p class="user-type-info" >ИП</p> }
                    </td>
                    <td>
                         @if (@m.UserLegaPhone != null) { <div class="user-phone">@m.UserLegaPhone</div> }
                         @if (@m.UserPhysicPhone != null) { <div class="user-phone">@m.UserPhysicPhone</div> }
                         @if (@m.UserIndividualPhone != null) { <div class="user-phone">@m.UserIndividualPhone</div> }
                    </td>
                    <td>
                        <div class="user-email">@m.UserEmail</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <p>Данные по указанному криетерию поиска не найдены</p>
}


@Html.ActionLink("На главную страницу", "Index", "Home", null, new { @class = "btn btn-secondary", role = "button" })