@using Kernel.Models
@using Web.Models
@model CallInfo

@{
    ViewBag.Title = "Журнал звонков";
}

@Html.Partial("partialCallFilter")

@if (@Model.Calls.Count > 0)
{
    <table class="call-table-result">
        <thead>
            <tr>
                <td>Дата</td>
                <td>Услуга</td>
                <td>Состояние</td>
                <td>Номер телефона</td>
                <td>Клиент</td>
                <td>Тип</td>
                <td>Исход</td>
                <td>Примечания</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var call in Model.Calls)
            {
                <tr>
                    <td>@call.TimeStamp</td>
                    <td>
                        <div class="service-type">
                            @if (call.Service.ServiceType == ServiceType.Domain)
                            {@call.Service.ServiceType}
                            @if (call.Service.ServiceType == ServiceType.Host)
                            {@call.Service.ServiceType}
                        </div>
                        <div class="service-name">
                            <a href="#">@call.Service.Name</a>
                        </div>
                    </td>
                    <td>
                        @if (call.Service.ServiceState.Ok)
                        {<div class="lable-status-info">Будет приостановлен</div>
                            <div class="lable-status lable-status-yellow"></div>
                            <div class="lable-status-date">@call.Service.ExDate.Value.ToString("d")</div>
                        }
                        @if (call.Service.ServiceState.PendingDelete)
                        {<div class="lable-status-info">Будет удален</div>
                            <div class="lable-status lable-status-red"></div>
                            <div class="lable-status-date">@call.Service.PendingExDate.Value.ToString("d")</div>
                        }
                    </td>
                    <td>@call.Phone</td>
                    <td>
                        @if (@call.Service.User.LegalRequisites.NameOrganization != null)
                        {<div class="client-info">@call.Service.User.LegalRequisites.NameOrganization</div>}
                        @if (@call.Service.User.PhysicalRequisites.FIO != null)
                        {<div class="client-info">@call.Service.User.PhysicalRequisites.FIO</div>}
                        @if (@call.Service.User.IndividualRequisites.FIO != null)
                        {<div class="client-info">@call.Service.User.IndividualRequisites.FIO</div>}
                    </td>
                    <td>
                        @if (@call.Service.User.ContractType == ContractType.Legal)
                        {<p class="user-type-info">Юр.</p>}
                        @if (@call.Service.User.ContractType == ContractType.Physical)
                        {<p class="user-type-info">Физ.</p>}
                        @if (@call.Service.User.ContractType == ContractType.Individual)
                        {<p class="user-type-info">ИП</p>}
                    </td>
                    <td>@call.Result</td>
                    <td>@call.Comment</td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination">
            @for(int i = 0; i < @Model.PageInfo.TotalPages; i++)
            {
                if(@Model.PageInfo.CurrentPage == i)
                {
                    <li class="page-item active"><a class="page-link" href="/Call/GetCurrentPageTable/@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Call/GetCurrentPageTable/@i">@i</a></li>
                }
            }
        </ul>
    </nav>
}
else
{
    <div class="alert alert-warning" role="alert">По данному запросу ничего не найдено....</div>
}